<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>
        Le Wagon Italia - Digital Literacy
    </title>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <%= hotjar_tag %>
    <%= google_analytics_tag %>
    <meta property="og:site_name" content="Le Wagon Italia - Digital Literacy">
    <meta property="og:title" content="Digital Literacy | Le Wagon">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://lewagonitalia.org/">
    <meta property="og:image" content="https://dwj199mwkel52.cloudfront.net/assets/core/social/home-card-82f54b75841da25d31c2e99d673e68152942dfd3d7275380508a63f0d951b484.jpg">
    <meta property="og:description" content="Change your life, learn to code! Le Wagon è la migliore scuola di codice in Europa e dopo aver cambiato la vita e carriera di tanti professionisti, siamo arrivati in Italia per portare i nostri corsi a Milano.">
    <meta name="description" content="Change your life, learn to code! Le Wagon è la migliore scuola di codice in Europa e dopo aver cambiato la vita e carriera di tanti professionisti, siamo arrivati in Italia per portare i nostri corsi a Milano."/>


</head>

<body>
    <%= partial "navbar" %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
</body>

</html>
