<%= partial "fixed_navbar" %>
<div class="row sec-landing ">
  <div class="col-xs-12 col-md-6" style="padding: 0">
    <div class="sec-landing-left-header">
      <h1>Digital Literacy<br>Le Wagon<i class="highlighted highlighted-red">Milano</i></h1>
      <div class="sec-landing-main-subtitle">
        <p> Con i nostri corsi acquisirai tutte le tech skill essenziali nel mondo del lavoro. Scopri con noi lo UX/UI Design, il Web Development, le API, i Database e molto altro…</p>
        <a class="cta cta-big cta-secondary margin-top-cta-secondary" href="#">Iscriviti Ora</a></br>
        <a class="cta cta-big cta-primary" href="#">Scopri di più</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 right-pic pic">
    <img src="images/right-front.jpg" class="pic1" alt="" style=" border-radius: 5px;height: 80vh; width: 40vw; object-fit: cover;">
  </div>
</div>

<section>
  <div class="row first-section">
    <ul class="wrapper datatron">
      <li>
        <span>#1</span>
        <i>Coding Bootcamp</i>
        <p>Le Wagon è stato premiato per 3 anni consecutivi come miglior coding bootcamp al mondo</p>
        <a class="cta-link" href="https://www.lewagon.com/milan">
          Scopri il nostro bootcamp
          <svg class="carret" data-target="dropdown.carret" height="3" viewBox="0 0 8 3" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m66.3706055 9 2.8516167 3 2.7777778-3" fill="none" stroke="#42464c" stroke-linecap="round" stroke-linejoin="round" transform="translate(-65 -9)"></path></svg>
        </a>
      </li>
      <li>
        <span>4170+</span>
        <i>Alumni nel mondo</i>
        <p>Il bootcamp è presente in 32 città e ha un incredibile network di studenti internazionali</p>
        <a class="cta-link" href="/graduates">
          Conosci i nostri studenti
          <svg class="carret" data-target="dropdown.carret" height="3" viewBox="0 0 8 3" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m66.3706055 9 2.8516167 3 2.7777778-3" fill="none" stroke="#42464c" stroke-linecap="round" stroke-linejoin="round" transform="translate(-65 -9)"></path></svg>
        </a>
      </li>
      <li>
        <span>1070+</span>
        <i>Web App sviluppate</i>
        <p>Ti insegneremo a trasformare le tue idee in realtà. Con Le Wagon  potrai costruire il tuo business da zero!</p>
        <a class="cta-link" href="/products">
          Scopri i nostri digital products
          <svg class="carret" data-target="dropdown.carret" height="3" viewBox="0 0 8 3" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m66.3706055 9 2.8516167 3 2.7777778-3" fill="none" stroke="#42464c" stroke-linecap="round" stroke-linejoin="round" transform="translate(-65 -9)"></path></svg>
        </a>
      </li>
    </ul>
    <div class="col-xs-12 col-md-6 right-section-pic-container mobile-header">
      <div class="pic right-section-pic" style="background-image: url(<%= image_path 'lear-best.jpg.png'%>);">
      </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6 right-text mobile-header">
      <p class="header-courses-section" style="font-size: 50px">Impara con i <i class="highlighted highlighted-red">migliori</i></p>
      <p class="fourth-section-paragraph fourth-section-paragraph-margin">Per 4 anni, Le Wagon ha fornito educazione digitale a imprenditori e leader tecnologici. Abbiamo già superato le 200 batch con il nostro coding bootcamp di 9 settimane, insegnando a più di 4000 studenti. Grazie ai feedback e all’entusiasmo dei nostri alunni, Le Wagon è attualmente il primo classificato al mondo tra i corsi di digital transformation (fonti: Switchup, Coursereport).</p>
<!--       <ul class="data-list">
        <li><strong>4170+</strong> graduates</li>
        <li><strong>1070+</strong> products built</li>
        <li><strong>230+</strong> startups launched</li>
      </ul> -->
    </div>
  </div>
</section>



<section class="mobile-header">
  <div class="row second-section">
    <p class="header-courses-section header-top-fullscreen-big">I nostri<i class="highlighted highlighted-red" style="font-size: 50px;">Corsi</i></p>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic card-main1" style="background-image: url(<%= image_path 'web-dev.jpg'%>);">
          <p class="card-title-second-section">Web Development</p>
        </div>
        <span class="underline1 display-none displayed"></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic card-main2" style="background-image: url(<%= image_path 'Api.jpg'%>);">
          <p class="card-title-second-section">API</p>
        </div>
        <span class="underline2 display-none"></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic card-main3" style="background-image: url(<%= image_path 'prod-sprint.jpg'%>);">
          <p class="card-title-second-section">Product Sprint</p>
        </div>
        <span class="underline3 display-none"></span>
      </div>
    </div>
  </div>
</section>


<section style="overflow-x: hidden;">
  <p class="header-courses-section header-courses-section-mobile-none accordion-mobile">i nostri<i class="highlighted highlighted-red" style="font-size: 50px;">Corsi</i></p>
  <div id="accordion" class="accordion-mobile">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Web Development
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <p>Tutti dovrebbero sapere come programmare un semplice <strong>sito</strong> e lanciarlo online! Durante questo corso, imparerete a programmare siti efficaci e veloci con <strong>HTML & CSS</strong>, lanciarli online e incorporare servizi di terze parti per raccogliere i dati degli utenti o integrare moduli di pagamenti.</p>
          <p>Questo corso vi insegnerà tutti i fondamenti dello <strong>sviluppo web</strong>:</p>
          <ul>
            <li>Installa i principali strumenti di developing e impara a usarli per lavorare a un progetto web</li>
            <li>Impara i concetti base dell’HTML & CSS e programma una pagina profilo con font e colori</li>
            <li>Crea la tua libreria di componenti UI utilizzando le più recenti tecniche CSS come flexbox</li>
            <li>Utilizza la libreria UI per codificare una pagina di destinazione per qualsiasi servizio o prodotto</li>
            <li>Metti online la tua landing page, incorpora un servizio di terze parti e integra Google Analytics e configura il tuo dominio</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            API
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <p>API sta per Application Programming Interface. Un'API viene utilizzata da uno sviluppatore per creare codice per interagire con un sistema di terze parti.
           <p>Durante questo corso, inizierete imparando cosa sono le API e come usarle per costruire applicazioni più rapide ed efficienti, scoprirete il rapporto tra HTTP e le API e come sfruttare migliaia di SaaS, API e Webhook per prototipare un MVP senza una singola riga di codice.
           </p>
         </div>
       </div>
     </div>
     <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            UX & UI
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <p>UX design è l’acronimo di User Experience design (abbreviato anche come UXD) ed è composto da quell’insieme di processi atti ad accrescere la soddisfazione dell’utente migliorando l’usabilità di una pagina web, la sua facilità di utilizzo, l’intuitività e l’interazione.</p>
          <p>L’UI design (acronimo di User Interface design) è un sottoinsieme dell’UX design, in tutto e per tutto la sua “anima visual”. Ed è anche la mansione più facilmente travisata e soggetta a libera interpretazione da parte delle aziende negli annunci di lavoro.
          Mentre la User Experience è un agglomerato di azioni focalizzate all’ottimizzazione di un prodotto, l’UI design si occupa prettamente della presentazione del prodotto stesso (o del brand, del servizio, dell’azienda), il che per alcune compagnie implica una conoscenza obbligatoria di brand design e/o front end development, mentre per altre è sufficiente essere esperti di graphic design.</p>
          <p>Questo corso vi insegnerà tutto ciò che c’è da sapere per iniziare a lavorare con l’UX & UI Design.</p>

        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="Web row third-section course1 display-none displayed" style="height: 85vh;">
    <p class="header-courses-section mobile-header header-top-fullscreen-small"><i class="highlighted highlighted-green" style="font-size: 50px; color: lightgreen;">Web Development</i></p>
    <div class="course-desc-container">
      <p>Tutti dovrebbero sapere come programmare un semplice <strong>sito</strong> e lanciarlo online! Durante questo corso, imparerete a programmare siti efficaci e veloci con <strong>HTML & CSS</strong>, lanciarli online e incorporare servizi di terze parti per raccogliere i dati degli utenti o integrare moduli di pagamenti.</p>
      <p>Questo corso vi insegnerà tutti i fondamenti dello <strong>sviluppo web</strong>:</p>
      <ul>
        <li>Installa i principali strumenti di developing e impara a usarli per lavorare a un progetto web</li>
        <li>Impara i concetti base dell’HTML & CSS e programma una pagina profilo con font e colori</li>
        <li>Crea la tua libreria di componenti UI utilizzando le più recenti tecniche CSS come flexbox</li>
        <li>Utilizza la libreria UI per codificare una pagina di destinazione per qualsiasi servizio o prodotto</li>
        <!--         <li>Metti online la tua landing page, incorpora un servizio di terze parti e integra Google Analytics e configura il tuo dominio</li> -->
      </ul>
<!--     <a class="cta cta-big cta-secondary margin-top-cta-secondary" style="width: 300px;
  /*margin: 0 auto;*/ margin-top: 40px;" href="#">Scarica il Syllabus</a> -->
  <a class="cta cta-big cta-primary" href="#" style="width: 300px;
  /*margin: 0 auto;*/ margin-top: 40px;">Scarica il syllabus</a>

</div>
</div>

<div class="API row third-section display-none" style="height: 75vh;">
  <p class="header-courses-section header-top-fullscreen-small"><i class="highlighted highlighted-orange" style="font-size: 50px; color: orange;">API</i></p>
  <div class="course-desc-container">
    <p>Cos’hanno in comune Facebook, Google Maps e TripadAvisor? Tutti usano le API</p>
    <p>API sta per Application Programming Interface. Un'API viene utilizzata da uno sviluppatore per creare codice per interagire con un sistema di terze parti.
     <p>Durante questo corso, inizierete imparando cosa sono le API e come usarle per costruire applicazioni più rapide ed efficienti, scoprirete il rapporto tra HTTP e le API e come sfruttare migliaia di SaaS, API e Webhook per prototipare un MVP senza una singola riga di codice.
     </p>
   </p>

   <a class="cta cta-big cta-primary" href="#" style="width: 300px;
   /*margin: 0 auto;*/ margin-top: 40px;">Scarica il syllabus</a>
 </div>
</div>


<div class="Product row third-section display-none" style="height: 105vh;">
  <p class="header-courses-section header-top-fullscreen-small"><i class="highlighted highlighted-blue" style="font-size: 50px; color: lightblue;">Product Sprint</i></p>
  <div class="course-desc-container">
    <p>UX design è l’acronimo di User Experience design (abbreviato anche come UXD) ed è composto da quell’insieme di processi atti ad accrescere la soddisfazione dell’utente migliorando l’usabilità di una pagina web, la sua facilità di utilizzo, l’intuitività e l’interazione.</p>
    <p>L’UI design (acronimo di User Interface design) è un sottoinsieme dell’UX design, in tutto e per tutto la sua “anima visual”. Ed è anche la mansione più facilmente travisata e soggetta a libera interpretazione da parte delle aziende negli annunci di lavoro.
      <p>Questo corso vi insegnerà tutto ciò che c’è da sapere per iniziare a lavorare con l’UX & UI Desing:</p>
      <ul>
        <li>Crea i tuoi profili UX e gli user journey del tuo prodotto</li>
        <li>Trasponi gli user journey in user flow, crea un Kit UI e usalo per il wireframing</li>
        <li>Costruisci il tuo prototipo e verifica la validità del tuo prodotto con l’usability testing</li>
        <li>Impara ad analizzare Google Analytics e gli in-page data per individuare problemi e reinventare il tuo design</li>
      </ul>
      <a class="cta cta-big cta-primary" href="#" style="width: 300px;
      /*margin: 0 auto;*/ margin-top: 40px;">Scarica il syllabus</a>
    </div>
  </div>
</section>

<section class="wrapper wrapper-white">
  <h2>A typical <i class="highlighted highlighted-yellow">day</i> at Le Wagon</h2>
  <h3 class="sub-title">From morning lectures to evening workshops, our days are action-packed.</h3>
  <div class="day">
    <div class="day-info">
      <img class="lozad" data-src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-lecture-mobile-538ce183ab8f05f475a00949598736f5ae6562ac31c618b571903184e2878c75.jpg" width="70" height="70" alt="Learn from the best<i>Boris Paillard, Le Wagon CEO</i>" src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-lecture-mobile-538ce183ab8f05f475a00949598736f5ae6562ac31c618b571903184e2878c75.jpg" data-loaded="true">
      <span>Lectures<i>9:00AM - 10:30AM</i></span>
    </div>
    <p>Grab a coffee and start every morning with an engaging &amp; interactive lecture, before putting what you’ve learnt into practice.</p>
  </div>

  <div class="day">
    <div class="day-info">
      <img class="lozad" data-src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-challenges-mobile-f57688a30c3a08583203cfda43881c6ae8e050c19169ec922ac2a31fbd21029b.jpg" width="70" height="70" src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-challenges-mobile-f57688a30c3a08583203cfda43881c6ae8e050c19169ec922ac2a31fbd21029b.jpg" data-loaded="true">
      <span>Challenges<i>10:30AM - 4:30PM</i></span>
    </div>
    <p>Pair up with your buddy for the day, and work on a series of programming challenges with the help of our teaching staff.</p>
  </div>

  <div class="day">
    <div class="day-info">
      <img class="lozad" data-src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-livecode-mobile-b97462594f60f14cef29c19b186546d29e3ebb3f8610dd2410c5ac3f257a160c.jpg" width="70" height="70" src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-livecode-mobile-b97462594f60f14cef29c19b186546d29e3ebb3f8610dd2410c5ac3f257a160c.jpg" data-loaded="true">
      <span>Live code<i>5:30PM - 7:00PM</i></span>
    </div>
    <p>Review the day’s challenges and get an overview of upcoming lessons during live code sessions.</p>
  </div>

  <div class="day">
    <div class="day-info">
      <img class="lozad" data-src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-events-mobile-428869b69cd3df183511766fbc3caff27640f828c657852692c9a36f9ebc7b69.jpg" width="70" height="70" src="">
      <span>Talks &amp; Workshops<i>7:00PM - 8:30PM</i></span>
    </div>
    <p>Be inspired and get priceless advice from successful entrepreneurs at our exclusive talks and workshops.</p>
  </div>

</section>


<!-- two column section -->
<section style="background-color: #FFF9EF; display: flex; flex-direction: column; padding: 80px 30px;" class="full-wrapper wrapper-section immersive-bootcamp" >
  <div class="section-content">
    <div class="block-content block-content-left">
      <h2>An <i class="highlighted highlighted-red">immersive</i> coding bootcamp
      </h2>
      <h3 class="sub-title">9 weeks to learn coding</h3>
      <p>Le Wagon Italia è una start-up che vuole rendere la digital literacy disponibile a tutti i creativi e agli imprenditori italiani. Aperto a Milano nel 2017, Le Wagon Italia ha lanciato una serie di corsi pensati per la formazione universitaria e aziendale strutturata in un ventaglio di offerte volte a portare la Digital Literacy e le competenze tecniche della programmazione a studenti e professionisti.</p>
    </div>

    <div class="block-content block-content-right">
      <p style="margin-top: 50px;">A rendere unica la proposta di Le Wagon Italia è la straordinaria ricchezza delle sue risorse e il continuo aggiornamento delle piattaforme educative che consentiranno ai partecipanti di accedere a un esteso network composto da centinaia di professionisti tech. Il pregio principale di questa offerta è appunto la sua flessibilità che le consente di adattarsi alle esigenze di qualsiasi realtà accademica o aziendale. Nel resto del mondo, Le Wagon ha già iniziato a collaborare fruttuosamente con grandi aziende nazionali, a inserirsi nelle aule di grandi business schools organizzando sia singoli corsi che veri e propri bootcamp.</p>
 <!--      <p>We strongly believe that there is a good way of building web products. During our bootcamp, we teach you how successful startups work: design your project's wireframe &amp; mockup, test your UX with a prototype, split your user stories across your team and collaborate with branch and pull requests with git and Github.</p>
      <p>We also teach you how to learn, and what tools to use to do so (Heroku, Stripe, MailChimp, Cloudinary, Algolia…) You learn how to implement all these services to be more efficient when you launch your product.</p>
      <p>At the end of the bootcamp, you will be able to build a web product from scratch, design a relational database and build queries with SQL, integrate a 3rd service using an API or scrape HTML data, and be able to learn a new programming language very quickly, which is extremely important in the fast-paced environment of web development.</p> -->
    </div>
  </div>
</section>

<section style="background-color: #FFF9EF;" class="mobile-header">
  <div style="height: 20vh;">
    <p class="header-timeline-section">La <i class="highlighted highlighted-purple" style="font-size: 50px;">giornata tipica</i>da Le Wagon</p>
  </div>
  <div class="carousel"
  data-\='{ "freeScroll": true }'>
  <div class="carousel-cell">
    <div class="timeline-card">
      <div class="timeline-card-left pic" style="background-image: url(<%= image_path 'lecture.jpg.png'%>);">
      </div>
      <div class="timeline-card-right">
        <div class="timeline-card-right-text-container">
          <span>Lezione<br><i>9:00AM - 10:30AM</i></span>
          <p>La giornata comincia con una lezione di 90 min sulle nozioni teoriche fondamentali per poter capire ed riutlizzare le tecnologie usate a Le Wagon</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="timeline-card">
      <div class="timeline-card-left pic" style="background-image: url(<%= image_path 'challenges.jpg'%>);">
      </div>
      <div class="timeline-card-right">
        <div class="timeline-card-right-text-container">
          <span>Challenges<br><i>10.45AM - 5PM</i></span>
          <p>Insieme ad un buddy, si lavora su esercizi e problemi di coding per mettere subito in pratica quanto appreso durante la lezione del mattino</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="timeline-card">
      <div class="timeline-card-left pic" style="background-image: url(<%= image_path 'livecode.jpg'%>);">
      </div>
      <div class="timeline-card-right">
        <div class="timeline-card-right-text-container">
          <span>Livecode<br><i>5.15PM- 18.30PM</i></span>
          <p>Un volontario tra i partecipanti prende la scena e, con l'aiuto di un teacher e di un tutor, risolve una challenge collaborando con gli altri studenti</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="timeline-card">
      <div class="timeline-card-left pic" style="background-image: url(<%= image_path 'talk.jpg'%>);">
      </div>
      <div class="timeline-card-right">
        <div class="timeline-card-right-text-container">
          <span>Talks<br><i>9:00AM - 10:30AM</i></span>
          <p>Fondatori di StartUp, lead developers di grandi aziende informatiche e project manager di web agencies milanesi di dividono il nostro palco per presentare i loro progetti e le loro aziende</p>
        </div>
      </div>
    </div>
  </div>
</div>

</section>

<section>
  <div class="row fourth-section">
    <p class="header-courses-section no-padding-mobile display last-sec" style="font-size: 50px;">Impara con i <i class="highlighted highlighted-red" style="font-size: 50px;">migliori</i></p>
    <div  class="col-xs-12 col-sm-12 col-md-6 right-section-pic-container right-section-pic-container-slack ">
      <div class="pic right-section-pic right-section-pic-double" style="background-image: url(<%= image_path 'classe2.png'%>);">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 right-text right-text-padding" style="text-align: center;">
      <p class="header-courses-section no-padding-mobile mobile-header" style="font-size: 40px">Impara con i <i class="highlighted highlighted-red" style="font-size: 40px;">migliori</i></p>
      <p class="fourth-section-paragraph paragraph-row">Sviluppa tech skills essenziali nel job market,
      scopri lo UX/UI Design, Web Development</p>
    </div>
  </div>
</section>



<section class="mobile-header">
  <div class="row sixth-section" style="margin-right: 0px; margin-left: 0px;">
    <div class="col-xs-12 col-sm-6 right-text right-text-padding">
      <p class="header-courses-section" style="font-size: 40px; margin-left: 15px;">Crea <i class="highlighted highlighted-red" style="font-size: 40px;">Digital Products</i></p>
      <p class="fourth-section-paragraph paragraph-row">Sviluppa tech skills essenziali nel job market,
      scopri lo UX/UI Design,Database e molto altro.Sviluppa tech skill</p>
    </div>
    <div  class="col-xs-12 col-md-6 right-section-pic-container right-section-pic-container-slack">
      <div class="pic right-section-pic right-section-pic-double" style="background-image: url(<%= image_path 'classe.png'%>);">
      </div>
    </div>
  </div>
</section>

<section class="last-section" ">
  <div class="parallax">
    <div class="row fifth-section" style="margin-right: 0px; margin-left: 0px;" >
      <div class="col-xs-12 col-md-6 prices-cards">
        <div class="price-card">
          <div class="content">
            <div class="content-row content-row-title content-row-title1">
              <i class="fas fa-paper-plane" style="font-size: 60px; margin-top: 15px;"></i>
              <div style="position: relative; top: 30%; transform: translateY(-50%); ">
                <h3><i class="highlighted highlighted-red">1 Day</i> Program</h3>
                <p style="letter-spacing: 4px; font-size: 16px;">8-h full-time</p>
                <p><i class="highlighted highlighted-new">Aprile 2019</i></p>
              </div>
            </div>
            <div class="content-row content-row-early">
              <div style="position: relative; top: 50%; transform: translateY(-50%); ">
                <h3>EARLY BIRD</h3>
                <p style="font-weight: 200; letter-spacing: 3px;font-size: 16px;">fino al 01/01/2018</p>
                <h2><i class="highlighted highlighted-red">100€</i></h2>
              </div>
            </div>
            <div class="content-row content-row-price">
              <div style="position: relative; top: 50%; transform: translateY(-50%); ">
                <h3>FULL PRICE</h3>
                <h2><i class="highlighted highlighted-red">150€</i></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 prices-cards">
        <div class="price-card">
          <div class="content">
            <div class="content-row content-row-title content-row-title1">
              <i class="fas fa-rocket" style="font-size: 60px; margin-top: 15px;"></i>
              <div style="position: relative; top: 30%; transform: translateY(-50%); ">
                <h3><i class="highlighted highlighted-red">3-5 Day</i> Program</h3>
                <p style="letter-spacing: 4px; font-size: 16px;">8-h full-time</p>
                <p><i class="highlighted highlighted-new">Aprile 2019</i></p>
              </div>
            </div>
            <div class="content-row content-row-early">
              <div style="position: relative; top: 50%; transform: translateY(-50%); ">
                <h3>EARLY BIRD</h3>
                <p style="font-weight: 200; letter-spacing: 3px;font-size: 16px;">fino al 01/01/2018</p>
                <h2><i class="highlighted highlighted-red">100€</i></h2>
              </div>
            </div>
            <div class="content-row content-row-price">
              <div style="position: relative; top: 50%; transform: translateY(-50%); ">
                <h3>FULL PRICE</h3>
                <h2><i class="highlighted highlighted-red">150€</i></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

<style>
.parallax {
  /* The image used */
  background-image: url(<%= image_path 'parallax.jpg'%>);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>








