<%= partial "fixed_navbar" %>
<div class="row sec-landing ">
  <div class="col-xs-12 col-md-6" style="padding: 0">
    <div class="sec-landing-left-header">
      <h1>Digital Literacy<br>Le Wagon <i class="highlighted highlighted-red">Milano</i></h1>
      <div class="sec-landing-main-subtitle">
        <p> Con i nostri corsi otterrai tutte le tech skill essenziali nel mondo del lavoro. Scopri con noi lo UX/UI Design, il Web Development, le API, i Database e molto altro…</p>
        <a class="cta cta-big cta-secondary margin-top-cta-secondary" href="https://lewagon-milan.typeform.com/to/xarV46" target="_blank">Iscriviti Ora</a></br>
        <a class="cta cta-big cta-primary" href="#courses">Scopri di più</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 right-pic pic">
    <img src="images/right-front.jpg" class="pic1" alt="studente durante corso web development milano" style=" border-radius: 5px;height: 80vh; width: 40vw; object-fit: cover;">
  </div>
</div>

<a href = "mailto: abc@example.com">Send Email</a>


<section>
  <div class="row first-section">
    <ul class="wrapper datatron">
      <li>
        <span>#1</span>
        <i>Coding Bootcamp</i>
        <p>Le Wagon è stato premiato per 3 anni consecutivi come miglior coding bootcamp al mondo.</p>
        <a target="_blank" class="cta-link" href="https://www.lewagon.com/milan">
          Scopri il nostro bootcamp
          <svg class="carret" data-target="dropdown.carret" height="3" viewBox="0 0 8 3" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m66.3706055 9 2.8516167 3 2.7777778-3" fill="none" stroke="#42464c" stroke-linecap="round" stroke-linejoin="round" transform="translate(-65 -9)"></path></svg>
        </a>
      </li>
      <li>
        <span>4170+</span>
        <i>Alumni nel mondo</i>
        <p>Il bootcamp è presente in 32 città e ha un incredibile network di studenti internazionali.</p>
        <a target="_blank" class="cta-link" href="https://www.lewagon.com/milan/graduates">
          Conosci i nostri studenti
          <svg class="carret" data-target="dropdown.carret" height="3" viewBox="0 0 8 3" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m66.3706055 9 2.8516167 3 2.7777778-3" fill="none" stroke="#42464c" stroke-linecap="round" stroke-linejoin="round" transform="translate(-65 -9)"></path></svg>
        </a>
      </li>
      <li>
        <span>1070+</span>
        <i>Web App sviluppate</i>
        <p>Ti insegneremo a trasformare le tue idee in realtà. Con Le Wagon  potrai costruire il tuo business da zero!</p>
        <a target="_blank" class="cta-link" href="https://www.lewagon.com/products">
          Scopri i nostri digital products
          <svg class="carret" data-target="dropdown.carret" height="3" viewBox="0 0 8 3" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m66.3706055 9 2.8516167 3 2.7777778-3" fill="none" stroke="#42464c" stroke-linecap="round" stroke-linejoin="round" transform="translate(-65 -9)"></path></svg>
        </a>
      </li>
    </ul>
    <div class="col-xs-12 col-md-6 right-section-pic-container mobile-header">
      <div class="pic right-section-pic" style="background-image: url(<%= image_path 'lear-best.jpg.png'%>);">
      </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6 right-text mobile-header">
      <p class="header-courses-section" style="font-size: 50px">Impara con i <i class="highlighted highlighted-red">migliori</i></p>
      <p class="fourth-section-paragraph fourth-section-paragraph-margin">Per 4 anni, Le Wagon ha fornito educazione digitale a imprenditori e leader tecnologici. Abbiamo già superato le 200 batch con il nostro coding bootcamp di 9 settimane, insegnando a più di 4000 studenti. Grazie ai feedback e all’entusiasmo dei nostri alunni, Le Wagon è attualmente il primo classificato al mondo tra i corsi di digital transformation (fonti: Switchup, Coursereport).</p>
<!--       <ul class="data-list">
        <li><strong>4170+</strong> graduates</li>
        <li><strong>1070+</strong> products built</li>
        <li><strong>230+</strong> startups launched</li>
      </ul> -->
    </div>
  </div>
</section>



<section class="mobile-header" id="courses">
  <div class="row second-section" style="min-height: 450px;
">
    <p class="header-courses-section header-top-fullscreen-big">I nostri <i class="highlighted highlighted-red" style="font-size: 50px;">corsi</i></p>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic card-main1" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(<%= image_path 'web-dev.jpg'%>);">
          <p class="card-title-second-section">Web Development</p>
        </div>
        <span class="underline1 display-none displayed"></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic card-main2" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(<%= image_path 'Api.jpg'%>);">
          <p class="card-title-second-section">API</p>
        </div>
        <span class="underline2 display-none"></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 full-height">
      <div class="card-main">
        <div class="pic-course pic card-main3" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(<%= image_path 'prod-sprint.jpg'%>);">
          <p class="card-title-second-section">Product Sprint</p>
        </div>
        <span class="underline3 display-none"></span>
      </div>
    </div>
  </div>
</section>


<section style="overflow-x: hidden;">
  <p class="header-courses-section header-courses-section-mobile-none accordion-mobile">I nostri <br><i class="highlighted highlighted-red" style="font-size: 40px;">corsi</i></p>
  <div id="accordion" class="accordion-mobile">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <svg style="margin-right: 17px;" width="37px" height="35px" viewBox="0 0 37 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="program" transform="translate(-572.000000, -1566.000000)">
                        <g id="Group" transform="translate(150.000000, 1541.000000)" stroke="#FFFFFF">
                            <g id="Main-Nav">
                                <g id="Item-3" transform="translate(422.000000, 23.000000)">
                                    <g id="Icon" transform="translate(0.000000, 2.000000)">
                                        <g id="responsive" transform="translate(0.821429, 0.625000)">
                                            <polyline id="Shape" stroke-linecap="round" stroke-linejoin="round" points="30.5357143 4.82142857 35.3571429 4.82142857 35.3571429 28.125 13.6607143 28.125"></polyline>
                                            <polyline id="Shape" stroke-linecap="round" stroke-linejoin="round" points="4.82142857 28.125 0 28.125 0 4.82142857 16.875 4.82142857"></polyline>
                                            <path d="M29.7321429,16.0714286 L17.6785714,16.0714286 C17.235,16.0714286 16.875,15.7114286 16.875,15.2678571 L16.875,0.803571429 C16.875,0.36 17.235,0 17.6785714,0 L29.7321429,0 C30.1757143,0 30.5357143,0.36 30.5357143,0.803571429 L30.5357143,15.2678571 C30.5357143,15.7114286 30.1757143,16.0714286 29.7321429,16.0714286 Z" id="Shape" stroke-linecap="square"></path>
                                            <path d="M12.8571429,33.75 L5.625,33.75 C5.18142857,33.75 4.82142857,33.39 4.82142857,32.9464286 L4.82142857,21.6964286 C4.82142857,21.2528571 5.18142857,20.8928571 5.625,20.8928571 L12.8571429,20.8928571 C13.3007143,20.8928571 13.6607143,21.2528571 13.6607143,21.6964286 L13.6607143,32.9464286 C13.6607143,33.39 13.3007143,33.75 12.8571429,33.75 Z" id="Shape" stroke-linecap="square"></path>
                                            <path d="M16.875,32.1428571 L21.6964286,32.1428571" id="Shape" stroke-linecap="round"></path>
                                            <path d="M8.83928571,29.7321429 L9.64285714,29.7321429" id="Shape" stroke-linecap="round"></path>
                                            <path d="M22.5,12.0535714 L24.9107143,12.0535714" id="Shape" stroke-linecap="round"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg> Web Development
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <p>Tutti dovrebbero sapere come programmare un semplice <strong>sito</strong> e lanciarlo online. Durante questo corso, imparerete a programmare siti efficaci e veloci con <strong>HTML & CSS</strong>, lanciarli online e incorporare servizi di terze parti per raccogliere i dati degli utenti o integrare moduli di pagamenti.</p>
          <p>Questo corso vi insegnerà tutti i fondamenti dello <strong>sviluppo web</strong>:</p>
          <ul>
            <li>Installa i principali strumenti di developing e impara a usarli per lavorare a un progetto web</li>
            <li>Impara i concetti base dell’HTML & CSS e programma una pagina profilo con font e colori</li>
            <li>Crea la tua libreria di componenti UI utilizzando le più recenti tecniche CSS come flexbox</li>
            <li>Utilizza la libreria UI per codificare una pagina di destinazione per qualsiasi servizio o prodotto</li>
            <li>Metti online la tua landing page, incorpora un servizio di terze parti e integra Google Analytics e configura il tuo dominio</li>
          </ul>
        </div>
        <a class="cta cta-big cta-primary" href="http://bit.ly/2HFXxIq" style="width: 300px;
        /*margin: 0 auto;*/ margin-top: 40px;" target="_blank">Scarica il syllabus</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <svg style="margin-right: 17px;" width="37px" height="35px" viewBox="0 0 37 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="program" transform="translate(-191.000000, -1566.000000)">
                        <g id="Group" transform="translate(150.000000, 1541.000000)" stroke="#FFFFFF">
                            <g id="Main-Nav">
                                <g id="Item-1" transform="translate(41.000000, 24.000000)">
                                    <g id="Icon" transform="translate(0.000000, 2.000000)">
                                        <g id="window-code" transform="translate(0.821429, 0.428571)">
                                            <polyline id="Shape" stroke-linecap="round" points="6.42857143 16.875 9.64285714 20.0892857 6.42857143 23.3035714"></polyline>
                                            <path d="M14.4642857,23.3035714 L20.8928571,23.3035714" id="Shape" stroke-linecap="round"></path>
                                            <path d="M4.82142857,4.82142857 L6.42857143,4.82142857" id="Shape" stroke-linecap="round"></path>
                                            <path d="M11.25,4.82142857 L12.8571429,4.82142857" id="Shape" stroke-linecap="round"></path>
                                            <path d="M24.1071429,4.82142857 L30.5357143,4.82142857" id="Shape" stroke-linecap="round"></path>
                                            <path d="M0,9.64285714 L35.3571429,9.64285714" id="Shape" stroke-linecap="square"></path>
                                            <rect id="Rectangle-path" stroke-linecap="square" x="0" y="0" width="35.3571429" height="32.1428571" rx="3"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg> API
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <p>API sta per Application Programming Interface. Un'API viene utilizzata da uno sviluppatore per creare codice per interagire con un sistema di terze parti.
           <p>Durante questo corso, inizierete imparando cosa sono le API e come usarle per costruire applicazioni più rapide ed efficienti, scoprirete il rapporto tra HTTP e le API e come sfruttare migliaia di SaaS, API e Webhook per prototipare un MVP senza una singola riga di codice.
           </p>
         </div>
         <a class="cta cta-big cta-primary" href="http://bit.ly/2W78vdW" style="width: 300px;
         /*margin: 0 auto;*/ margin-top: 40px;" target="_blank">Scarica il syllabus</a>
       </div>
     </div>
     <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <svg style="margin-right: 17px;" width="37px" height="37px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="program" transform="translate(-815.000000, -1565.000000)">
                        <g id="Group" transform="translate(150.000000, 1541.000000)" stroke="#FFFFFF">
                            <g id="Main-Nav">
                                <g id="Item-4" transform="translate(665.000000, 24.000000)">
                                    <g id="Icon">
                                        <g id="spaceship" transform="translate(0.821429, 0.821429)">
                                            <path d="M22.3955357,3.36455357 L31.9532143,12.9214286" id="Shape"></path>
                                            <path d="M18.6484821,5.44419643 C13.9540179,3.42241071 8.30008929,4.32803571 4.46625,8.16267857 C3.67955357,8.949375 3.03107143,9.81803571 2.49107143,10.7333036 L7.99955357,16.2417857" id="Shape"></path>
                                            <path d="M29.8808036,16.6371429 C31.9532143,21.3492857 31.0532143,27.0321429 27.1944643,30.8908929 C26.4077679,31.6775893 25.5391071,32.3260714 24.6238393,32.8660714 L19.0920536,27.3342857" id="Shape"></path>
                                            <path d="M14.6933036,29.7546429 L5.60169643,20.6630357 C5.60169643,20.6630357 13.3674107,1.34357143 35.1490179,0.207321429 C33.9179464,21.8941071 14.6933036,29.7546429 14.6933036,29.7546429 Z" id="Shape" stroke-linecap="square"></path>
                                            <path d="M0,31.3392857 C0,29.120625 1.79919643,27.3214286 4.01785714,27.3214286 C6.23651786,27.3214286 8.03571429,29.120625 8.03571429,31.3392857 C8.03571429,33.5579464 6.23651786,35.3571429 4.01785714,35.3571429 C3.11383929,35.3571429 0,35.3571429 0,35.3571429 C0,35.3571429 0,32.6547321 0,31.3392857 Z" id="Shape" stroke-linecap="square"></path>
                                            <circle id="Oval" stroke-linecap="square" cx="20.0892857" cy="15.2678571" r="3.21428571"></circle>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg> UX/UI Design
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <p>UX design è l’acronimo di User Experience design (abbreviato anche come UXD) ed è composto da quell’insieme di processi atti ad accrescere la soddisfazione dell’utente migliorando l’usabilità di una pagina web, la sua facilità di utilizzo, l’intuitività e l’interazione.</p>
          <p>L’UI design (acronimo di User Interface design) è un sottoinsieme dell’UX design, in tutto e per tutto la sua “anima visual”. Ed è anche la mansione più facilmente travisata e soggetta a libera interpretazione da parte delle aziende negli annunci di lavoro.
          Mentre la User Experience è un agglomerato di azioni focalizzate all’ottimizzazione di un prodotto, l’UI design si occupa prettamente della presentazione del prodotto stesso (o del brand, del servizio, dell’azienda), il che per alcune compagnie implica una conoscenza obbligatoria di brand design e/o front end development, mentre per altre è sufficiente essere esperti di graphic design.</p>
          <p>Questo corso vi insegnerà tutto ciò che c’è da sapere per iniziare a lavorare con l’UX & UI Design.</p>

        </div>
        <a class="cta cta-big cta-primary" href="http://bit.ly/2TmaY2q" style="width: 300px;
        /*margin: 0 auto;*/ margin-top: 40px;" target="_blank">Scarica il syllabus</a>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="Web row third-section course1 display-none displayed" style="height: 85vh;">
    <p class="header-courses-section mobile-header header-top-fullscreen-small"><i class="highlighted highlighted-green" style="font-size: 50px; color: lightgreen;">Web Development</i></p>
    <div class="course-desc-container">
      <p>Tutti dovrebbero sapere come programmare un semplice <strong>sito</strong> e lanciarlo online! Durante questo corso, imparerete a programmare siti efficaci e veloci con <strong>HTML & CSS</strong>, lanciarli online e incorporare servizi di terze parti per raccogliere i dati degli utenti o integrare moduli di pagamenti.</p>
      <p>Questo corso vi insegnerà tutti i fondamenti dello <strong>sviluppo web</strong>:</p>
      <ul>
        <li>Installa i principali strumenti di developing e impara a usarli per lavorare a un progetto web</li>
        <li>Impara i concetti base dell’HTML & CSS e programma una pagina profilo con font e colori</li>
        <li>Crea la tua libreria di componenti UI utilizzando le più recenti tecniche CSS come flexbox</li>
        <li>Utilizza la libreria UI per codificare una pagina di destinazione per qualsiasi servizio o prodotto</li>
        <!--         <li>Metti online la tua landing page, incorpora un servizio di terze parti e integra Google Analytics e configura il tuo dominio</li> -->
      </ul>
<!--     <a class="cta cta-big cta-secondary margin-top-cta-secondary" style="width: 300px;
  /*margin: 0 auto;*/ margin-top: 40px;" href="#">Scarica il Syllabus</a> -->
  <a class="cta cta-big cta-primary" href="http://bit.ly/2HFXxIq" style="width: 300px;
  /*margin: 0 auto;*/ margin-top: 45px; margin-bottom: 20px;" target="_blank">Scarica il syllabus</a>

</div>
</div>

<div class="API row third-section display-none" style="height: 75vh;">
  <p class="header-courses-section header-top-fullscreen-small"><i class="highlighted highlighted-orange" style="font-size: 50px; color: orange;">API</i></p>
  <div class="course-desc-container">
    <p>Cos’hanno in comune Facebook, Google Maps e TripadAvisor? Tutti usano le API</p>
    <p>API sta per Application Programming Interface. Un'API viene utilizzata da uno sviluppatore per creare codice per interagire con un sistema di terze parti.
     <p>Durante questo corso, inizierete imparando cosa sono le API e come usarle per costruire applicazioni più rapide ed efficienti, scoprirete il rapporto tra HTTP e le API e come sfruttare migliaia di SaaS, API e Webhook per prototipare un MVP senza una singola riga di codice.
     </p>
   </p>

   <a class="cta cta-big cta-primary" href="http://bit.ly/2W78vdW" style="width: 300px;
   /*margin: 0 auto;*/ margin-top: 45px; margin-bottom: 20px;" target="_blank">Scarica il syllabus</a>
 </div>
</div>


<div class="Product row third-section display-none" style="height: 105vh;">
  <p class="header-courses-section header-top-fullscreen-small"><i class="highlighted highlighted-blue" style="font-size: 50px; color: lightblue;">UX & UI Design</i></p>
  <div class="course-desc-container">
    <p>UX design è l’acronimo di User Experience design (abbreviato anche come UXD) ed è composto da quell’insieme di processi atti ad accrescere la soddisfazione dell’utente migliorando l’usabilità di una pagina web, la sua facilità di utilizzo, l’intuitività e l’interazione.</p>
    <p>L’UI design (acronimo di User Interface design) è un sottoinsieme dell’UX design, in tutto e per tutto la sua “anima visual”. Ed è anche la mansione più facilmente travisata e soggetta a libera interpretazione da parte delle aziende negli annunci di lavoro.
      <p>Questo corso vi insegnerà tutto ciò che c’è da sapere per iniziare a lavorare con l’UX & UI Desing:</p>
      <ul>
        <li>Crea i tuoi profili UX e gli user journey del tuo prodotto</li>
        <li>Trasponi gli user journey in user flow, crea un Kit UI e usalo per il wireframing</li>
        <li>Costruisci il tuo prototipo e verifica la validità del tuo prodotto con l’usability testing</li>
        <li>Impara ad analizzare Google Analytics e gli in-page data per individuare problemi e reinventare il tuo design</li>
      </ul>
      <a class="cta cta-big cta-primary" href="http://bit.ly/2TmaY2q" style="width: 300px;
      /*margin: 0 auto;*/ margin-top: 45px;" target="_blank">Scarica il syllabus</a>
    </div>
  </div>
</section>

<section class="wrapper wrapper-white" id="best" style="display: block !important;">
  <div class="wrapper-content">
    <h2 class="text-center" style="font-size: 40px; margin-bottom: 30px;">Il coding Bootcamp <i class="highlighted highlighted-yellow">n°1</i> al mondo
    </h2>
    <div class="row">
      <div class="col-sm-12 col-md-6 smaller-card-desktop">
        <div class="referrer-service">
          <img class="lozad" data-src="https://dwj199mwkel52.cloudfront.net/assets/core/referrers/switchup-b720724d6624ec0fdcdbb11106a5c52f2ad988d8477a2a9f0bae9886464ff9b0.png" src="https://dwj199mwkel52.cloudfront.net/assets/core/referrers/switchup-b720724d6624ec0fdcdbb11106a5c52f2ad988d8477a2a9f0bae9886464ff9b0.png" data-loaded="true">
          <div class="referrer-details">
            <span>n°1 su Switchup</span>
            <p>Le Wagon è primo nel ranking basato sui feedback degli studenti</p>
            <a class="cta-link" target="_blank" rel="noopener" href="https://www.switchup.org/bootcamps/le-wagon">
              Leggi 870+ recensioni
              <svg class="carret" data-target="dropdown.carret" height="3" viewBox="0 0 8 3" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m66.3706055 9 2.8516167 3 2.7777778-3" fill="none" stroke="#42464c" stroke-linecap="round" stroke-linejoin="round" transform="translate(-65 -9)"></path></svg>
            </a>
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-md-6 smaller-card-desktop">
        <div class="referrer-service">
          <img class="lozad" data-src="https://dwj199mwkel52.cloudfront.net/assets/core/referrers/coursereport-a74c4a43e2b9f549c332e8be922d7c301dc9459c138c474173adda71e60f1f75.png" src="https://dwj199mwkel52.cloudfront.net/assets/core/referrers/coursereport-a74c4a43e2b9f549c332e8be922d7c301dc9459c138c474173adda71e60f1f75.png" data-loaded="true">
          <div class="referrer-details">
            <span>n°1 su Coursereport</span>
            <p>Siamo #1 tra i bootcamp nel ranking basato sui feedback degli studenti</p>
            <a class="cta-link" target="_blank" rel="noopener" href="https://www.coursereport.com/schools/le-wagon">
              Leggi 750+ recensioni
              <svg class="carret" data-target="dropdown.carret" height="3" viewBox="0 0 8 3" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m66.3706055 9 2.8516167 3 2.7777778-3" fill="none" stroke="#42464c" stroke-linecap="round" stroke-linejoin="round" transform="translate(-65 -9)"></path></svg>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>


<section class="wrapper wrapper-white">
  <h2>Come sono strutturati i nostri <i class="highlighted highlighted-yellow">Corsi</i></h2>
  <h3 class="sub-title">Dalle lezioni al mattino, fino ai livecode nel tardo pomeriggio</h3>
  <div class="day">
    <div class="day-info">
      <img class="lozad" data-src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-lecture-mobile-538ce183ab8f05f475a00949598736f5ae6562ac31c618b571903184e2878c75.jpg" width="70" height="70" alt="Learn from the best<i>Boris Paillard, Le Wagon CEO</i>" src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-lecture-mobile-538ce183ab8f05f475a00949598736f5ae6562ac31c618b571903184e2878c75.jpg" data-loaded="true">
      <span>Lezione<i>9:00 - 10:30</i></span>
    </div>
    <p>La giornata comincia con una lezione di 90 minuti sulle nozioni teoriche fondamentali per poter capire ed riutlizzare le tecnologie usate a Le Wagon.</p>
  </div>

  <div class="day">
    <div class="day-info">
      <img class="lozad" data-src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-challenges-mobile-f57688a30c3a08583203cfda43881c6ae8e050c19169ec922ac2a31fbd21029b.jpg" width="70" height="70" src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-challenges-mobile-f57688a30c3a08583203cfda43881c6ae8e050c19169ec922ac2a31fbd21029b.jpg" data-loaded="true">
      <span>Challenges<i>10:30 - 17:30</i></span>
    </div>
    <p>Si lavora in gruppi su esercizi e problemi di coding per mettere subito in pratica quanto appreso durante la lezione del mattino.</p>
  </div>

  <div class="day">
    <div class="day-info">
      <img class="lozad" data-src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-livecode-mobile-b97462594f60f14cef29c19b186546d29e3ebb3f8610dd2410c5ac3f257a160c.jpg" width="70" height="70" src="https://dwj199mwkel52.cloudfront.net/assets/core/program/typical-day-livecode-mobile-b97462594f60f14cef29c19b186546d29e3ebb3f8610dd2410c5ac3f257a160c.jpg" data-loaded="true">
      <span>Live code<i>17:30 - 18.30</i></span>
    </div>
    <p>Un volontario tra i partecipanti prende la scena e, con l'aiuto di un teacher e di un tutor, risolve una challenge collaborando con gli altri studenti.</p>
  </div>
</section>


<!-- two column section -->
<section style="background-color: #FFF9EF; display: flex; flex-direction: column; padding: 80px 50px;" class="full-wrapper wrapper-section immersive-bootcamp" >
  <div class="section-content">
    <div class="block-content block-content-left">
      <h2>Un Coding Bootcamp <i class="highlighted highlighted-red">immersivo</i>
      </h2>
      <h3 class="sub-title">Change your life, learn to code!</h3>
      <p>Le Wagon Italia è una start-up che vuole rendere la digital literacy disponibile a tutti i creativi e agli imprenditori italiani. Aperto a Milano nel 2017, Le Wagon Italia ha lanciato una serie di corsi pensati per la formazione universitaria e aziendale strutturata in un ventaglio di offerte volte a portare la Digital Literacy e le competenze tecniche della programmazione a studenti e professionisti.</p>
    </div>

    <div class="block-content block-content-right">
      <p style="margin-top: 40px;">A rendere unica la proposta di Le Wagon Italia è la straordinaria ricchezza delle sue risorse e il continuo aggiornamento delle piattaforme educative che consentiranno ai partecipanti di accedere a un esteso network composto da centinaia di professionisti tech. Il pregio principale di questa offerta è appunto la sua flessibilità che le consente di adattarsi alle esigenze di qualsiasi realtà accademica o aziendale. Nel resto del mondo, Le Wagon ha già iniziato a collaborare fruttuosamente con grandi aziende nazionali, a inserirsi nelle aule di grandi business schools organizzando sia singoli corsi che veri e propri bootcamp.</p>
 <!--      <p>We strongly believe that there is a good way of building web products. During our bootcamp, we teach you how successful startups work: design your project's wireframe &amp; mockup, test your UX with a prototype, split your user stories across your team and collaborate with branch and pull requests with git and Github.</p>
      <p>We also teach you how to learn, and what tools to use to do so (Heroku, Stripe, MailChimp, Cloudinary, Algolia…) You learn how to implement all these services to be more efficient when you launch your product.</p>
      <p>At the end of the bootcamp, you will be able to build a web product from scratch, design a relational database and build queries with SQL, integrate a 3rd service using an API or scrape HTML data, and be able to learn a new programming language very quickly, which is extremely important in the fast-paced environment of web development.</p> -->
    </div>
  </div>
</section>

<section style="background-color: #FFF9EF; min-height: 670px;
" class="mobile-header">
  <div style="height: 20vh;">
    <p class="header-timeline-section" style="padding-top: 0 !important">Come sono strutturati i nostri <i class="highlighted highlighted-purple">corsi</i></p>
  </div>
  <div class="carousel"
  data-\='{ "freeScroll": true }'>
  <div class="carousel-cell">
    <div class="timeline-card">
      <div class="timeline-card-left pic" style="background-image: url(<%= image_path 'lecture.jpg.png'%>);">
      </div>
      <div class="timeline-card-right">
        <div class="timeline-card-right-text-container">
          <span>Lezione<br><i>9:00 - 10:30</i></span>
          <p>La giornata comincia con una lezione di 90 min sulle nozioni teoriche fondamentali per poter capire ed riutlizzare le tecnologie usate a Le Wagon.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="timeline-card">
      <div class="timeline-card-left pic" style="background-image: url(<%= image_path 'challenges.jpg'%>);">
      </div>
      <div class="timeline-card-right">
        <div class="timeline-card-right-text-container">
          <span>Challenges<br><i>10:45 - 17:00</i></span>
          <p>Insieme ad un buddy, si lavora su esercizi e problemi di coding per mettere subito in pratica quanto appreso durante la lezione del mattino.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="timeline-card">
      <div class="timeline-card-left pic" style="background-image: url(<%= image_path 'livecode.jpg'%>);">
      </div>
      <div class="timeline-card-right">
        <div class="timeline-card-right-text-container">
          <span>Livecode<br><i>17:15- 18:30</i></span>
          <p>Un volontario tra i partecipanti prende la scena e, con l'aiuto di un teacher e di un tutor, risolve una challenge collaborando con gli altri studenti.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="carousel-cell">
    <div class="timeline-card">
      <div class="timeline-card-left pic" style="background-image: url(<%#= image_path 'talk.jpg'%>);">
      </div>
      <div class="timeline-card-right">
        <div class="timeline-card-right-text-container">
          <span>Talks<br><i>18:30 - 19:30</i></span>
          <p>Fondatori di StartUp, lead developers di grandi aziende informatiche e project manager di web agencies milanesi di dividono il nostro palco per presentare i loro progetti e le loro aziende.</p>
        </div>
      </div>
    </div>
  </div> -->
</div>

</section>

<section>
  <div class="row fourth-section">
    <p class="header-courses-section no-padding-mobile display last-sec">Materiale <i class="highlighted highlighted-red">online</i> sempre disponibile</p>
    <div  class="col-xs-12 col-sm-12 col-md-6 right-section-pic-container right-section-pic-container-slack">
      <div class="pic right-section-pic right-section-pic-double" style="background-image: url(<%= image_path 'Group-minicorsi.jpg'%>); height: 90%; width: 90%;margin-top: 30px;">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 right-text right-text-padding">
      <p class="header-courses-section no-padding-mobile mobile-header" style="font-size: 40px;">Impara senza <i class="highlighted highlighted-red" style="font-size: 40px;">fermarti</i></p>
      <p class="fourth-section-paragraph paragraph-row">Non smettiamo mai di imparare, ed è questo che rende i nostri teacher i migliori! I nostri syllabus sono costantemente aggiornati, in modo da offirire ai nostri studenti un programma che segua il passo dello sviluppo tecnologico dei linguaggi e sia sempre aggiornato alle novità e ai progressi del mondo del coding.</p>
    </div>
  </div>
</section>



<section class="mobile-header">
  <div class="row sixth-section" style="margin-right: 0px; margin-left: 0px;">
    <div class="col-xs-12 col-sm-6 right-text right-text-padding">
      <p class="header-courses-section minus-top-mobile" style="font-size: 40px; margin-left: 15px;">Corsi <i class="highlighted highlighted-red" style="font-size: 40px;">On-Site</i> e <i class="highlighted highlighted-red" style="font-size: 40px;">Online</i></p>
      <p class="fourth-section-paragraph paragraph-row">I nostri teacher e i programmi sono sempre aggiornati per rimanere al passo dello sviluppo tecnologico dei linguaggi. Inoltre a tutti i partecipanti sarà garantito il perpetuo accesso alla piattaforma e-learning di Le Wagon, sempre adeguata ai nuovi standard dalla community internazionale dei nostri sviluppatori.</p>
    </div>
    <div  class="col-xs-12 col-md-6 right-section-pic-container right-section-pic-container-slack">
      <div class="pic right-section-pic right-section-pic-double" style="background-image: url(<%= image_path 'classe.png'%>);">
      </div>
    </div>
  </div>
</section>

<section class="last-section" id="prices">
  <div class="parallax">
    <div class="row fifth-section" style="margin-right: 0px; margin-left: 0px;" >
      <div class="col-xs-12 col-md-6 prices-cards">
        <div class="price-card">
          <div class="content">
            <div class="content-row content-row-title content-row-title1">
              <i class="fas fa-paper-plane" style="font-size: 60px; margin-top: 15px;"></i>
              <div style="position: relative; top: 30%; transform: translateY(-50%); ">
                <h3><i class="highlighted highlighted-red">Sprint</i> 1 giorno</h3>
                <p style="font-size: 16px;">dalle 9 alle 19</p>
                <p><i class="highlighted highlighted-new">Aprile 2019</i></p>
              </div>
            </div>
            <div class="content-row content-row-early">
              <div style="position: relative; top: 50%; transform: translateY(-50%); ">
                <h3>EARLY BIRD</h3>
                <p style="font-weight: 200;font-size: 16px;">fino al 31/03/2019</p>
                <h2><i class="highlighted highlighted-red">100€</i></h2>
              </div>
            </div>
            <div class="content-row content-row-price">
              <div style="position: relative; top: 50%; transform: translateY(-50%); ">
                <h3>FULL PRICE</h3>
                <h2><i class="highlighted highlighted-red">150€</i></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 prices-cards">
        <div class="price-card">
          <div class="content">
            <div class="content-row content-row-title content-row-title1">
              <i class="fas fa-rocket" style="font-size: 60px; margin-top: 15px;"></i>
              <div style="position: relative; top: 30%; transform: translateY(-50%); ">
                <h3><i class="highlighted highlighted-red">Sprint</i> 3 Giorni</h3>
                <p style="font-size: 16px;">dalle 9 alle 19</p>
                <p><i class="highlighted highlighted-new">Aprile 2019</i></p>
              </div>
            </div>
            <div class="content-row content-row-early">
              <div style="position: relative; top: 50%; transform: translateY(-50%); ">
                <h3>EARLY BIRD</h3>
                <p style="font-weight: 200;font-size: 16px;">fino al 31/03/2019</p>
                <h2><i class="highlighted highlighted-red">300€</i></h2>
              </div>
            </div>
            <div class="content-row content-row-price">
              <div style="position: relative; top: 50%; transform: translateY(-50%); ">
                <h3>FULL PRICE</h3>
                <h2><i class="highlighted highlighted-red">350€</i></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-section" id="contacts">
  <h2 style="text-align: center; padding: 50px 0px; font-size: 3.25rem">Contatti</h2>
  <div class="row contact-row">
    <div class="col-xs-12 col-md-6" style="padding: 0 5px 5px 5px;">
      <div class="contact-card dotted-right">
        <div class="contact-avatar" style="background-image: url(<%= image_path 'avatar-fra.jpg'%>); margin-bottom: 30px;"></div>
        <h3 class="contact-name">Francesco Ecclesie</h3>
        <h4 class="contact-description"><i class="highlighted highlighted-red">Driver</i> @ Le Wagon Milan</h4>
        <p>Web developer e teacher con anni di esperienza tra Parigi, Barcellona e Milano</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" style="padding: 10px 5px 5px 5px">
      <div class="contact-card">
        <div class="contact-avatar" style="background-image: url(<%= image_path 'me2copy.jpg'%>); margin-bottom: 30px; background-position: bottom;"></div>
        <h3 class="contact-name">Arbi Velaj</h3>
        <h4 class="contact-description"><i class="highlighted highlighted-red">Teacher</i> e Web Developer</h4>
        <p>Web developer, specializzato in backend. Teacher freelance a Berlino, Amsterdam e Tel Aviv</p>
      </div>
    </div>
  </div>
</section>

<section class="getintouch">
  <div class="getintouch-container">
    <a class="cta cta-big cta-secondary margin-top-cta-secondary" href="https://lewagon-milan.typeform.com/to/xarV46" target="_blank" style="margin-top: 0;">Iscriviti Ora</a>
    <a class="cta cta-big cta-primary" href="https://meetings.hubspot.com/francesco19" target="_blank">Contattaci</a>
  </div>
</section>

<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/lewagonitaly/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/lewagon/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/lewagonmilano"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/showcase/le-wagon-milano/"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

<style>
.parallax {
  /* The image used */
  background-image: url(<%= image_path 'parallax.jpg'%>);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>








